body {
	position: relative;
  }

.navbar, .navbar-brand {
	padding: 0 !important;
}

#navLogoGe {
	padding: 5px;
}

#navTitleGe {
	vertical-align:-25%;
}

.navbar.navbar-dark.bg-dark {
	background: rgba(100,100,100,0.4) !important;
} 

.navbar-dark .navbar-nav .nav-link {
	color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active {
	background: rgba(50,50,50,0.4) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(80, 80, 80) !important;
}

.transparency {
	background: rgba(255,255,255,0.9) !important;
}

a.arrow {
	padding-top: 190px;
	color: white;
}

#title img {
	margin-top:-10px;
	margin-right:10px;
}

#headband {
	background: url(images/head-band-2018.png) 50% 0 fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size : cover ;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.2);
	padding: 500px 0;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#concept { 
	background: url(images/public.jpg) 80% 0 fixed;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 150px 0;
}

#benevolat { 
	background: url(images/benevoles2.jpg) 80% 0 fixed;
	/* opacity: 0.9; */
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size : cover ;
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative;
	padding: 300px 0;
}

.benevoleMotiv {
	margin: 0 auto;
	max-width: 600px !important;
}

#programmation { 
	background: url(images/artiste.jpg) 80% 0 fixed;
	 opacity: 0.9;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size : cover ;
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative;
	box-shadow: 0 20px 20px 0 gray;
	padding: 300px 0;
}

#coming { 
	background: url(images/more.png) 50% 0 fixed; 
	height: auto;
	margin: 0 auto; 
	width: 110%; 
	position: relative;
	margin-left:-5%;
    margin-right: -5%;
	box-shadow: 0px 20px 50px gray inset;
	padding: 90px 0 10px 0;
}

#mapid {
	height: 180px;
	min-height: 400px;
}

footer {
	padding-top: 10px; 
}
